.App {
  text-align: center;
}



.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
@import url('https://fonts.googleapis.com/css2?family=DM+Sans&family=Forum&display=swap');

.vfd-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(./projects-background.png);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width:100%;
  height: 800px;
}
.vfd-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.vfd-header{
  margin: 5%;
}
.vfd-header h1 {
  font-family: 'Forum', cursive;
  color: #000;
  font-size: 300%;
  font-weight: 100;
}
.vfd-header h3 {
  margin-left: 2%;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 2px;
  color: #000;
  margin-bottom: 3%;
}
.vfd-header h1, h3 {
  text-align: left;
  margin: 0%;
}
.vfd-photo {
  height: 30%;
  width: 30%;
  cursor: pointer;
  border-radius: 50%;
}
.joke-container {
  background-color: #7c5e4f;
  border-radius: 10%;
  opacity: 0.8;
  margin-right: 2%;
  padding: 10%;
  height: 70%;
  width: 70%;
}


